@page "/projects"

@using PersonalUI.Data
@using PersonalUI.Models
@using Microsoft.Extensions.Configuration

@inject IPagesData _sections
@inject IProjectsData _projects

<div class="container-fluid projects projects-section-light">
    <div class="container p-4">
        <h3>My work</h3>

        @if (work is null) {
            <p class="mt-3 pt-3">
                <em>Loading..</em>
            </p>
        }
        else {
            <div class="row">
                <div class="col-md">
                    <p class="mt-3 pt-3 p-18px" style="text-indent: 30px;">
                        @work.content
                    </p>
                </div>
            </div>
        }

        <div class="row mt-3 pt-3 projects-section-list">
            <div class="col-lg-4">
                <h5>Programming</h5>
                <ul class="mt-3">
                    <li>Procedural and object oriented programming in C++ | Javascript | PHP | C#</li>
                    <li>Back-end programming with Node JS, express | ASP.NET</li>
                    <li>Front-end programming with React JS | React Native | .NET Blazor</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h5>Designing</h5>
                <ul class="mt-3">
                    <li>Databases designing</li>
                    <li>Website architecture designing</li>
                    <li>Website | application designing</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h5>Tools</h5>
                <ul class="mt-3">
                    <li>Visual Studio | Visual Studio Code</li>
                    <li>Adobe Photoshop</li>
                    <li>Some projects could be found in my <NavLink href="https://github.com/MantasLengvinas">Github</NavLink></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid projects projects-section-dark">
    <div class="container p-4">
        <h3>Some of my projects</h3>
        @if (bestProjects is null) {
            <p class="mt-3 pt-3 mb-3 pb-3">
                Loading...
            </p>
        }
        else {
            <div class="row">
                <div class="col-md-6">
                    <p class="mt-3 pt-3 mb-3 pb-3 p-18px">
                        @bestProjects.content
                    </p>
                </div>
            </div>
        }

        <div class="container mt-3 pt-3 border-top border-light largest-projects">
            <ul>
                @if (projects is null) {
                    <li><em>Loading..</em></li>
                }
                else {
                    foreach (var p in projects) {
                        string[] stack = p.Stack.Split("|");
                        <li>
                            <div class="row border-bottom p-3 border-light">
                                <div class="col-md-8">
                                    <h5 class="mb-2 pb-2">@p.Title</h5>
                                    <p style="text-indent: 30px;">@p.Description</p>
                                </div>
                                <div class="col-md-4">
                                    <ul class="used-stack">
                                        @foreach (var s in stack) {
                                            <li>@s</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

@code {
    private List<ProjectModel> projects;
    private PageSectionModel work, bestProjects;

    protected override async Task OnInitializedAsync() {

        List<PageSectionModel> sections = await _sections.GetSections();

        work = sections.Find(s => s.section == "work");
        bestProjects = sections.Find(s => s.section == "bestProjects");

        projects = await _projects.GetProjects();
    }
}
